<div class="container marketing">
	<div class="row">
		<hr class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">"My name is Charlene."
					<span class="text-muted">"And YES I hand write every card."</span>
				</h2>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu libero ut neque sollicitudin varius at sit amet nunc. Vestibulum pellentesque nibh libero, vel interdum augue iaculis porttitor. Fusce sapien dui, rutrum vel blandit vel, placerat sit amet urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin interdum ex at arcu euismod, eget malesuada neque commodo."</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-fluid mx-auto" data-src="..." alt="500x500" src="assets/char.jpg" data-holder-rendered="true" style="width: auto; height: auto;">
			</div>
		</hr>
	</div>
</div>	

