<div class="container">
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card">
      <div class="card-block text-xs-center">
        <h4 class="card-title">One Card</h4>
        <span class="icon yellow"><i class="fa fa-usd"></i></span>
        <span class="price-large blue">5</span>
        <p class="card-text">Single Hand Written Card</p>
        <button type="button" class="btn btn-info">Choose</button>
      </div>
    </div>
    <div class="card">
      <div class="card-block text-xs-center">
        <h4 class="card-title">Five Cards</h4>
        <span class="icon yellow"><i class="fa fa-usd"></i></span>
        <span class="price-large yellow">25</span>
        <p class="card-text">25 Hand Written Cards</p>
        <button type="button" class="btn btn-warning">Choose</button>
      </div>
    </div>
    <div class="card">
      <div class="card-block text-xs-center">
        <h4 class="card-title">Ten Cards</h4>
        <span class="icon yellow"><i class="fa fa-usd"></i></span>
        <span class="price-large green">50</span>
        <p class="card-text">Great for small Business</p>
        <button type="button" class="btn btn-success">Choose</button>
      </div>
    </div>
  </div>
</div>